staging.piofin.ai {
    reverse_proxy web:3000
}

ai.marinecx.com {
    reverse_proxy web:3000
}

staging-api.piofin.ai {
    reverse_proxy backend:4000
}

staging-db-postgres.piofin.ai {
    reverse_proxy pgbouncer:6437
}